<div class="row wrapper" style="background-color: #28282B;">
       
          
    
    <div class="col l12" >
       
            <div class="col l10 push-l1  white-text" style="padding: 50px;">
                <a class="col l2"><img class="box" src="../../../assets/images/jazz.png"></a>
            </div>
        
        <div class="col l10  push-l1 white-text" style="padding: 40px;">
        <div class="valign-wrapper"><app-music> </app-music>
           <h5>Beat Lock Lung</h5></div>
           <hr style="color: white;">
            
    
           <div class="valign-wrapper"><app-music> </app-music>
            <h5>Toxic</h5></div>
            <hr style="color: white;">


            <div class="valign-wrapper"><app-music> </app-music>
                <h5>Untitled</h5></div>
                <hr style="color: white;">


                <div class="valign-wrapper"><app-music> </app-music>
                    <h5>Am I a Psyco</h5></div>
                    <hr style="color: white;">


                    <div class="valign-wrapper"><app-music> </app-music>
                        <h5>Beno</h5></div>
                        <hr style="color: white;">


                        <div class="valign-wrapper"><app-music> </app-music>
                            <h5>Lie Down</h5></div>
                            <hr style="color: white;">


                            <div class="valign-wrapper"><app-music> </app-music>
                                <h5>Bite Back</h5></div>
                                <hr style="color: white;">
            </div>
    </div>
</div>

