.box {
    border-radius: 10px;
    height: 70px;
    
    margin: 8px 25px 8px 0px;
    background-color: #36454f;
  }
  
  selector{
    border: size style color;
}

.border {
    border: 5px solid red;
}