 
<div class="row wrapper" style="background-color:#28282B;">
    <div class="row valign-wrapper white-text col l12" style="background-color:#28282B;" >
        <div class="col l10 push-l1 left"> <h4>Online Music Player</h4></div>
        <div class="col l2 pull-l1 right"><h5>123,123,123 PLAYS</h5></div>
       
    </div>
    <div class="col l12 push-l1">
    <div class="row class col l5 push-l1 valign-wrapper">
        <img style="height: 500px;" src="../../../assets/images/mv.jpg" >
    </div>
    <div class="row class col l5 push-l1 valign-wrapper">
        <img style="height: 500px;" src="../../../assets/images/kdinfo.jpeg" >
    </div>
</div>
    <div class="row valign-wrapper white-text col l12" style="background-color:#28282B;">
        <div class="col l10 push-l1 left" style="padding: 20px;"> <img [routerLink]="['/homepage/song/info']" class="album" src="../../../assets/images/kd.jpeg"></div>
      <div class="left col l1"><img style="width: 50px;" src="../../../assets/images/volume.png" > </div> <div class="col l2 right"> 
        
        
        <h6>Next</h6>
       <h5>Love Sosa</h5>
    </div>
      
    </div>
    </div>
