<div style="background-color:#28282B;" class="row wrapper white-text">
<div class="col s7 l9 left"> 
    <div style="margin: 20px" class="col s12 l11 push-l1 left"> 
        <h3>Live Stations</h3>
            <app-box-list></app-box-list>
        <h3>Top Albums</h3>
            <app-box2-list></app-box2-list>
    
    
    </div>


</div>
<div class="row main col l1 right box">
    <div class="box">
        <button class="btn"><h6>Next -></h6></button>
           
        <h5>Love Sosa</h5>
    
        
    
    </div>
    

</div>






<div style="background-color: rgb(253, 114, 114);" class="main col s3 l2 white-text">
<div style="margin: 20px;" class="s112 l12 "> 
    <h4>233,455,654</h4>
        <h5>listeners</h5>    
        <div style="margin: 20px;" class="box">
            <img class="col s12 l12 album" [routerLink]="['/homepage/song']" src="../../../assets/images/kd.jpeg">
        </div>

                
            
            
        </div>
   

   

</div>


</div>
